$font-color-primary: #383751;
$tabs-color: #f5f5f5;
$base-margin: 8px;
$tab-container-max-width: 640px;
$border-radius: 12px;

.nzz-qcc-tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nzz-qcc-tabs-inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: $tab-container-max-width;
  }

  .nzz-qcc-tabs {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: $base-margin;
  }

  .nzz-qcc-tab.s-button.s-button--small {
    background-color: $tabs-color;
    color: $font-color-primary;
    border-radius: $border-radius;
    border: none;
    box-shadow: none;
    z-index: 1;
    font-weight: 300;

    &.s-button:hover,
    &.s-button:active,
    &.s-button:focus {
      color: $font-color-primary;
      background-color: $tabs-color;
      border: none;
      box-shadow: none;
    }

    &:not(:last-of-type) {
      margin-right: $base-margin;
    }

    &.nzz-qcc-tab--active {
      font-weight: 400;
    }
  }

  .nzz-qcc-tab-container {
    background-color: $tabs-color;
    border-radius: $border-radius;
    padding: $base-margin * 2 $base-margin $base-margin $base-margin * 2;
    display: flex;
    flex-direction: row;
  }

  .nzz-qcc-tab--text-align-end {
    text-align: end;
    margin-right: 0;
  }

  .nzz-qcc-tab-container--active {
    border-top-left-radius: 0;
  }

  &.nzz-qcc-tabs-container--expanded {
    .nzz-qcc-tab.s-button.s-button--small {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:not(.nzz-qcc-tab--active) {
        background-color: lighten($tabs-color, 2%);
      }
    }
  }

  &.nzz-qcc-tabs-container--desktop {
    .nzz-qcc-tab.s-button.s-button--small:hover {
      background-color: darken($tabs-color, 5%);
    }
  }
}
