.nzz-qcc-link {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(90deg, #05032d, #05032d);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;

  &:hover {
    opacity: 0.6;
  }
}
